# Práctica 3
# Reducción de la dimensionalidad y agrupamiento
## [Introducción a los Sistemas Inteligentes](https://fagonzalezo.github.io/iis-2018-2/)
### Grupos de máximo 2 personas
### Entrega: Lunes 21 de Enero de 2018

Carguemos el siguiente conjunto de datos de movimientos en la bolsa de diferentes acciones:

In [1]:
!wget -O company-stock-movements-2010-2015-incl.csv.gz  "https://drive.google.com/uc?export=download&id=1QUwMXIFNU-50tSVO6wt5J8_FFY9twGJX"

--2018-12-06 02:00:27--  https://drive.google.com/uc?export=download&id=1QUwMXIFNU-50tSVO6wt5J8_FFY9twGJX
Resolving drive.google.com (drive.google.com)... 74.125.197.113, 74.125.197.138, 74.125.197.139, ...
Connecting to drive.google.com (drive.google.com)|74.125.197.113|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-00-94-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/cm2asb8n1kf5l1age2l4icm4tqnqhddd/1544061600000/17039964666782190292/*/1QUwMXIFNU-50tSVO6wt5J8_FFY9twGJX?e=download [following]
Warning: wildcards not supported in HTTP.
--2018-12-06 02:00:27--  https://doc-00-94-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/cm2asb8n1kf5l1age2l4icm4tqnqhddd/1544061600000/17039964666782190292/*/1QUwMXIFNU-50tSVO6wt5J8_FFY9twGJX?e=download
Resolving doc-00-94-docs.googleusercontent.com (doc-00-94-docs.googleusercontent.com)... 74.125.142.132, 2607:f8b0:400e:c08::84
Connecting to doc-00-94-docs.googleusercontent.com (doc-00-94-docs.googleusercontent.com)|74.125.142.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 198864 (194K) [application/gzip]
Saving to: ‘company-stock-movements-2010-2015-incl.csv.gz’

company-stock-movem 100%[===================>] 194.20K  --.-KB/s    in 0.003s

2018-12-06 02:00:28 (55.7 MB/s) - ‘company-stock-movements-2010-2015-incl.csv.gz’ saved [198864/198864]

In [3]:
import pandas as pd

d1 = pd.read_csv("company-stock-movements-2010-2015-incl.csv.gz", index_col=0)
d1.shape

(60, 963)

In [4]:
d1.head()

,2010-01-04,2010-01-05,2010-01-06,2010-01-07,2010-01-08,2010-01-11,2010-01-12,2010-01-13,2010-01-14,2010-01-15,...,2013-10-16,2013-10-17,2013-10-18,2013-10-21,2013-10-22,2013-10-23,2013-10-24,2013-10-25,2013-10-28,2013-10-29
Apple,0.580000,-0.220005,-3.409998,-1.170000,1.680011,-2.689994,-1.469994,2.779997,-0.680003,-4.999995,...,0.320008,4.519997,2.899987,9.590019,-6.540016,5.959976,6.910011,-5.359962,0.840019,-19.589981
AIG,-0.640002,-0.650000,-0.210001,-0.420000,0.710001,-0.200001,-1.130001,0.069999,-0.119999,-0.500000,...,0.919998,0.709999,0.119999,-0.480000,0.010002,-0.279998,-0.190003,-0.040001,-0.400002,0.660000
Amazon,-2.350006,1.260009,-2.350006,-2.009995,2.960006,-2.309997,-1.640007,1.209999,-1.790001,-2.039994,...,2.109985,3.699982,9.570008,-3.450013,4.820008,-4.079986,2.579986,4.790009,-1.760009,3.740021
American express,0.109997,0.000000,0.260002,0.720002,0.190003,-0.270001,0.750000,0.300004,0.639999,-0.130001,...,0.680001,2.290001,0.409996,-0.069999,0.100006,0.069999,0.130005,1.849999,0.040001,0.540001
Boeing,0.459999,1.770000,1.549999,2.690003,0.059997,-1.080002,0.360000,0.549999,0.530002,-0.709999,...,1.559997,2.480003,0.019997,-1.220001,0.480003,3.020004,-0.029999,1.940002,1.130005,0.309998

El conjunto de datos corresponde a los cambios diarios en el valor de un conjunto de acciones.


### 1. Preprocese el conjunto de datos

Para eleminar el efecto de las diferentes escalas de los datos, convierta los datos en datos bnarios asignando un valor de 1 si el valor original es >= 0 o un valor de -1 si el valor original es < 0.

### 2. Reducción de la dimensionalidad

* Aplique PCA construya la curva de varianza explicada para diferente número de componentes

* Utilice las dos primeras componentes principales para visualizar los datos. Se debe mostrar el nombre de la empresa al lado del punto correspondiente.

### 3. Agrupamiento

* Aplique $k$-means con diferentes valores de $k$. Calcule la inercia para cada valor de $k$  y grafique los datos. De acuerdo con esta gráfica, ¿cuál debería ser el número de grupos?

* Repita el punto anterior, pero esta vez calcule el coeficiente de silueta.  De acuerdo con esta gráfica, ¿cuál debería ser el número de grupos?

* De acuerdo con el valor de $k$ escogido en el ítem anterior imprima, para cada grupo, el número de elementos que pertenecen a el, junto con la lista del nombre de las empresas. ¿Tienen sentido los grupos encontrados?

* Visualice el agrupamiento de los datos usando una gráfica como la del punto 2, pero esta vez asigne un color a cada punto de acuerdo con el grupo al cual pertenece. Analice.

### 4. Agrupamiento del conjunto de datos MNIST

Repita los pasos del punto 3 con el conjunto de datos MNIST. Para el agrupamiento solo use la información de los pixeles de la imagen. En la visualización utilice como nombre del punto la etiqueta original de la imagen (el dígito correspondiente, puede de hecho omitir mostrar el punto para que la visualización sea más clara). Pruebe con una versión de dimensionalidad reducida de los datos (por ejemplo 30 dimensiones). ¿Cambia la visualiación? Analice los resultados.

**Instrucciones de envío:**

Este notebook debe enviarse a través del siguiente [File Request](https://www.dropbox.com/request/DGou3KFrLq2NIAFYXieS)
antes de la medianoche de la fecha límite. El archivo debe nombrarse como 
`iis-practica3-unalusername1-unalusername2.ipynb`, donde `unalusername` es el nombre de usuario asignado por la universidad (incluya los nombres de usuario de todos los miembros del grupo).